<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<!-- Servlet config using single URL -->
  <servlet>
  <servlet-name>helloSingleURL</servlet-name>
  <servlet-class>UsingDeploymentDescriptor.ServletDD_singleURL</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>helloSingleURL</servlet-name>
  <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  
    <!-- Servlet config using multiple URL -->
   <servlet>
  <servlet-name>helloMultipleURL</servlet-name>
  <servlet-class>UsingDeploymentDescriptor.ServletDD_multipleURL</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>helloMultipleURL</servlet-name>
  <url-pattern>/hello123</url-pattern>
  <url-pattern>/hello456</url-pattern>
  </servlet-mapping>
  
</web-app>